<section class="project-card">
	<section class="project-card-text">
		<h2 class="project-card-title">{{ include.title }}</h2>
		<h3 class="project-card-subtitle">{{ include.time }}</h3>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsa rerum possimus est nam dolorum aliquam
		debitis! Quis, in! Fuga hic enim vel doloribus nisi ullam sapiente laboriosam facere dicta?
	</section>
	<section class="project-card-image">
		<img src="assets/images/{{ include.image }}" alt="{{ include.image-alt }}">
		<iframe src="https://www.youtube.com/embed/{{ include.video }}"></iframe>
	</section>
</section>