<section class="project-card">
	<section class="project-card-text">
		<h2 class="project-card-title">{{ include.title}}</h2>
		<h3 class="project-card-subtitle">{{ include.date}}</h3>
		<section>{{ include.content | markdownify }}</section>
		<a href="{{ include.read-more }}">Read more</a>
	</section>
	<section class="project-card-image">
		<!-- <img src="assets/images/{{ include.image }}" alt="{{ include.image-alt }}"> -->
		<iframe src="https://www.youtube.com/embed/{{ include.video }}"></iframe>
	</section>
</section>
