
.navbar-container {
	position: sticky;
	top: 0;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
	background-color: white;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding: 0;
	width: 100%;
}

.navbar-title {
	margin: 0;
	padding: 0;
	margin-left: 32px;
	font-size: 2.5em;
	text-decoration: none;
	color: #24292e;
}

.navbar-title > * {
	margin: 0;
	padding: 0;
}

.navbar-title:hover, .navbar-option:hover {
	text-decoration: underline;
}

.navbar-option {
	text-decoration: none;
	color: #24292e;
	font-size: 2em;
	margin: 32px;
}