---
layout: subpage
---
<section class="about-container">
	<section class="about-content-section">
		<section>
			<h1>About</h1>
			{{ content }}
		</section>
		<section>
			<h1>Skills</h1>
			<ul>
				{% for skill in site.skills %}
				<li>{{ skill }}</li>
				{% endfor %}
			</ul>
		</section>
		<section>
			<h1>Coding Languages</h1>
			<ul>
				{% for language in site.coding_languages %}
				<li>{{ language }}</li>
				{% endfor %}
			</ul>
		</section>
		<section class="about-contant-section">
			<h1>Contact</h1>
			<a href="mailto: {{ site.email }}"><img src="/assets/icons/mail.svg" alt="A mail icon">{{ site.email }}</a>
			<a href="https://github.com/{{ site.github_username }}" target="_blank"><img src="/assets/icons/logo-github.svg" alt="The Github logo">{{ site.github_username }}</a>
			<a href="https://www.linkedin.com/in/{{ site.linkedin_url }}" target="_blank"><img src="/assets/icons/logo-linkedin.svg" alt="The Linkedin logo">{{ site.linkedin_username }}</a>
			<a href="{{ site.resume_url }}"><img src="/assets/icons/demography.svg" alt="A resume icon">Resume</a>
		</section>
	</section>
	<section class="about-image-section">
		<img src={{ site.personal_image_path }} alt="A picture of my face.">
	</section>
</section>