<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<link href='https://fonts.googleapis.com/css?family=Fira Code' rel='stylesheet'>
	<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>

<body class="content">
	<section class="navbar-container">
		<section class="navbar content">
			<h1 class="navbar-title">{{ site.title }}</h1>
			<nav>
				<a href="/About" class="navbar-option">About</a>
			</nav>
		</section>
	</section>
	<section>
		{{ content }}
	</section>
	<footer>
	</footer>
</body>

</html>