<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<link href='https://fonts.googleapis.com/css?family=Fira Code' rel='stylesheet'>
	<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>

<body class="content">
	<a class="return-button" href="/">
		<div></div>
	</a>
	<h1 class="project-title">{{ page.title }}</h1>
	<section class="project-content">
		{{ content }}
	</section>
	<footer>
	</footer>
</body>

</html>